# Django and Django-related packages
Django==5.1.3
djangorestframework
django-filter
django-cors-headers
django-environ

# Database
psycopg>=3.1.8

# Image processing
Pillow

# Utilities
markdown
requests

# Payment and shipping
stripe
shippo
