@use 'src/scss/variables' as *;

.ArtDetail {
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 2rem 2rem;
  box-sizing: border-box;
  width: 100%;

  &__back {
    margin-bottom: 2rem;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    text-decoration: none;
    font-size: 14px;
  }

  &__main {
    width: 100%;
    display: flex;
    gap: 2rem;
  }

  &__images {
    flex: 1 1 0;
    display: flex;
    gap: 1rem;
    width: 100%;

    &__thumbnails {
      flex: 1 1 70px;
      max-width: 80px;
      display: flex;
      flex-direction: column;
      gap: 2px;

      &__thumbnail {
        max-height: 80px;
        max-width: 80px;
        min-width: 80px;
        cursor: pointer;
        position: relative;

        & img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }

        &::after {
          content: '';
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background-color: rgba(white, 0.5);
          transition: background-color 0.2s ease;
        }

        &:hover {
          &::after {
            background-color: rgba(white, 0);
          }
        }

        &--selected {
          &::after {
            background-color: rgba(white, 0);
          }
        }
      }
    }

    &__main {
      flex: 1 1 500px;
      width: 100%;

      & img {
        width: 100%;
        height: auto;
        max-width: 100%;
        display: block;
      }
    }
  }

  &__info {
    flex: 1 1 0;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;

    &__title {
      font-size: 30px;
      font-weight: 400;
    }

    & p {
      font-size: 13px;
    }

    &__price {
      font-size: 14px;
      font-weight: 500;
    }

    &__note {
      color: $gray-light;
    }

    &__button {
      margin-top: 1rem;
      align-self: flex-start;
      border: none;
      background-color: $gray-dark;
      color: white;
      padding: 12px 30px;
      border-radius: 3px;
      font-size: 14px;
      cursor: pointer;
      transition: background-color 0.2s ease;

      &:hover {
        background-color: rgba($gray-dark, 0.9);
      }

      &:active {
        background-color: rgba($gray-dark, 0.8);
      }

      &:disabled {
        background-color: $gray-light;
        color: #eee;
        cursor: not-allowed;

        &:hover {
          background-color: $gray-light;
        }
      }
    }
  }
}

@media (max-width: 1020px) {
  .ArtDetail {
    padding: 0 1rem 2rem;

    &__main {
      flex-direction: column;
    }
  }
}

@media (max-width: 720px) {
  .ArtDetail {
    &__back {
      margin: 1rem 0;
    }

    &__info {
      flex: unset;
      width: 100%;

      &__title {
        word-break: break-word;
        hyphens: auto;
      }

      &__note {
        word-wrap: break-word;
        max-width: 100%;
      }
    }

    &__images {
      flex: unset;
      flex-direction: column-reverse;
      width: 100%;
      overflow: hidden;

      &__main {
        flex: unset;
        width: 100%;
      }

      &__thumbnails {
        max-width: 100%;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-start;
        width: 100%;
        overflow: hidden;

        &__thumbnail {
          flex-shrink: 0;
        }
      }
    }
  }
}

@media (min-width: 481px) and (max-width: 484px) {
  .ArtDetail {
    &__info {
      &__title, &__note {
        max-width: calc(100vw - 4rem);
      }
    }
  }
}
