@use 'src/scss/variables' as *;
@use 'sass:math';

.ArtCard {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  user-select: none;
  cursor: pointer;

  &__image {
    width: 100%;
    position: relative;

    & > img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    &::after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: unset;
      transition: background-color 0.3s ease-in-out;
    }

    &:has(&__dimensions) {
      &::after {
        display: none;
      }
    }

    &__dimensions {
      background-color: #f0f0f0;
      position: relative;
      overflow: hidden;

      &::before {
        content: '';
        position: absolute;
        top: 0;
        left: -100%;
        width: 50%;
        height: 100%;
        background: linear-gradient(to right, transparent 0%, rgba(255, 255, 255, 0.4) 50%, transparent 100%);
        animation: shimmer 2s infinite;
      }

      @keyframes shimmer {
        100% {
          left: 150%;
        }
      }
    }
  }

  &__title {
    font-size: 28px;
    font-weight: 600;
    text-align: center;
    margin-top: 1.5rem;
  }

  &__comingSoon {
    color: rgb(32, 32, 220);
    font-size: 16px;
    margin-top: 1rem;
  }

  &__price {
    color: $gray-light;
    font-size: 14px;
    margin-top: 1rem;
  }
}

@media (max-width: 1020px) {
  .ArtCard {
    &__price {
      margin-top: 0.5rem;
    }
  }
}

@media (max-width: 720px) {
  .ArtCard {
    &__price {
      margin-top: 0.25rem;
    }
  }
}

@media (max-width: 480px) {
  .ArtCard {
    &__title {
      font-size: 20px;
      margin-top: 1rem;
    }
  }
}
