@use '~/scss/variables' as *;

.ArtList {
  max-width: 1020px;
  margin: 0 auto;
  display: flex;
  gap: 8rem;
  padding: 0 2rem 100px;

  &__left,
  &__right {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 6rem;
  }

  &__empty {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;

    & p {
      font-size: 16px;
      color: $gray-light;
      font-style: italic;
    }
  }

  .ArtCard:hover {
    .ArtCard__image {
      &::after {
        background-color: rgba(white, 0.15);
      }
    }
  }
}

@media (max-width: 1020px) {
  .ArtList {
    gap: 4rem;

    &__left,
    &__right {
      gap: 2rem;
    }
  }
}

@media (max-width: 720px) {
  .ArtList {
    flex-direction: column;
    padding: 0 1rem 2rem;
    gap: 2rem;
  }
}
