@use 'src/scss/variables.scss' as *;
@use 'src/scss/utils.scss' as *;

* {
  margin: unset;
  color: $gray-dark;
}

html {
  font-family: 'Montserrat', sans-serif;
  padding: unset;

  &:has(.Cart) {
    overflow: hidden;
  }
}

body {
  padding: unset;
}
