@use "src/scss/variables.scss" as *;

* {
  margin: unset;
  color: $gray-dark;
}

html {
  font-family: "Montserrat", sans-serif;
  padding: unset;

  &:has(.Cart) {
    overflow: hidden;
  }
}

body {
  padding: unset;
}

.Layout {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;

  &__content {
    flex: 1;
  }

  &__cartBadge {
    user-select: none;
    position: fixed;
    top: 0;
    right: 0;
    width: 80px;
    height: 80px;
    background: linear-gradient(
      45deg,
      transparent,
      transparent calc(50% - 1px),
      #eee calc(50% - 1px),
      #eee calc(50% + 1px),
      transparent calc(50% + 1px)
    );
    cursor: pointer;

    &__data {
      position: absolute;
      top: 0.5rem;
      right: 0.5rem;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 6px;

      &__icon {
        width: 20px;
        height: 20px;
        color: $gray-light;
        stroke: $gray-light;
      }

      &__count {
        font-size: 14px;
        font-weight: 600;
      }
    }
  }
}
