@use 'src/scss/variables.scss' as *;

.Layout {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  position: relative;

  &:has(.Error),
  &:has(.CheckoutReturn) {
    & .Navbar {
      animation: boxShadow 0.5s forwards;

      @keyframes boxShadow {
        0% {
          box-shadow: 0 0 0 rgba(0, 0, 0, 0);
        }
        100% {
          box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
        }
      }
    }
  }

  &__content {
    flex: 1;
  }

  &__cartBadge {
    z-index: 100;
    user-select: none;
    position: fixed;
    top: 0;
    right: 0;
    width: 80px;
    height: 80px;
    background: linear-gradient(
      45deg,
      transparent,
      transparent calc(50% - 1px),
      #eee calc(50% - 1px),
      #eee calc(50% + 1px),
      white calc(50% + 1px)
    );
    cursor: pointer;

    &__data {
      position: absolute;
      top: 0.5rem;
      right: 0.5rem;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 6px;

      &__icon {
        width: 20px;
        height: 20px;
        color: $gray-light;
        stroke: $gray-light;
      }

      &__count {
        font-size: 14px;
        font-weight: 600;
      }
    }
  }
}

@media (max-width: 720px) {
  .Layout {
    &__content {
      margin-top: 116px;
    }

    &__cartBadge {
      display: none;
    }
  }
}

@media (max-width: 480px) {
  .Layout {
    &__content {
      margin-top: 100px;
    }
  }
}
