@use 'src/scss/variables' as *;
@use 'src/scss/animations' as *;

.ArtViewer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(white, 0.9);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  animation: fadeIn 0.3s ease-in-out;

  &__content {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  &__close {
    position: absolute;
    top: -40px;
    right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border-radius: 50%;
  }

  &__image {
    & > img {
      width: 100%;
      height: 100%;
      max-width: 90vw;
      max-height: 80vh;
    }
  }

  &__title {
    font-size: 1rem;
    font-weight: 400;
    margin-top: 2rem;
    color: $gray-light;
  }
}
